# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*-lock.*

# Build
dist/
build/
.cache/
.tmp/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
*.log.*
*.out
*.pid
*.seed
*.pid.lock

# Database files (si llegas a usar SQLite para tests)
*.sqlite
*.sqlite3

# Coverage
coverage/
.nyc_output/

# Editor/OS junk
.DS_Store
Thumbs.db
*.swp
*.swo

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Sequelize migrations (si generas dumps temporales)
migrations/*.tmp
